<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfZU_ekW_Ol5Whg_U-VzcNqqkKk0d5PkM</string>
	<key>GCM_SENDER_ID</key>
	<string>716405172494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swejan.textEditor-expansion</string>
	<key>PROJECT_ID</key>
	<string>movies-omdb</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-omdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716405172494:ios:40e73b8a25709d483f8f5f</string>
</dict>
</plist>